# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
UserSettings/

# IDE / Editor files
.vscode/
.vs/
*.csproj
*.sln
*.user
*.unityproj

# OS files
.DS_Store
Thumbs.db